{% if linklists.gift-wrapping.links.size > 0 and
linklists.gift-wrapping.links.first.type == 'product_link' %}

<div
  id="is-a-gift"
  style="clear: left; margin: 30px 0"
  class="clearfix rte"
>
  <p>
    <input
      id="gift-wrapping"
      type="checkbox"
      name="attributes[gift-wrapping]"
      value="yes"
      {% if cart.attributes.gift-wrapping %}
      checked="checked"
      {% endif %}
      style="float: none"
    />
    <label
      for="gift-wrapping"
      style="display:inline; padding-left: 5px; float: none;"
    >
     Gift Wrap (Free)
    </label>
  </p>
  <!-- <p>Please specify in a note which items you would like wrapped. If no note is provided, all items will be wrapped.</p> -->
  <p>
    <label style="display:block" for="gift-note"
      >Gift message (Optional):</label
    >
    <textarea name="attributes[gift-note]" id="gift-note">
{{ cart.attributes.gift-note }}</textarea
    >
  </p>
</div>

{% assign id = linklists.gift-wrapping.links.first.object.variants.first.id
%} {% assign gift_wraps_in_cart = 0 %} {% for item in cart.items %} {% if
item.id == id %} {% assign gift_wraps_in_cart = item.quantity %} {% endif %}
{% endfor %}

<style>
  #updates_{{ id }} { display: none; }
</style>
<script>
  Shopify.Cart = Shopify.Cart || {};
  Shopify.Cart.GiftWrap = {};

  Shopify.Cart.GiftWrap.set = function() {
    var headers = new Headers({ 'Content-Type': 'application/json' });

    var request = {
      method: 'POST',
      headers: headers,
      body: JSON.stringify({ updates: { {{ id }}: 1 }, attributes: { 'gift-wrapping': true } })
    };
    
    fetch('/cart/update.js', request)
      .then(function(response) {
        return response.json();
      })
      .then(function(data) {
        console.log("Gift wrap added: ", data);
        location.reload(); // Refresh the page to reflect changes
      });
  }

  Shopify.Cart.GiftWrap.remove = function() {
    var headers = new Headers({ 'Content-Type': 'application/json' });

    var request = {
      method: 'POST',
      headers: headers,
      body: JSON.stringify({ updates: { {{ id }}: 0 }, attributes: { 'gift-wrapping': '', 'gift-note': '' } })
    };
    
    fetch('/cart/update.js', request)
      .then(function(response) {
        return response.json();
      })
      .then(function(data) {
        console.log("Gift wrap removed: ", data);
        location.reload(); // Refresh the page to reflect changes
      });
  }

  // When the gift-wrapping checkbox is checked or unchecked.
  document.addEventListener("DOMContentLoaded", function() {
    var giftWrappingCheckbox = document.querySelector('[name="attributes[gift-wrapping]"]');
    var giftNoteTextarea = document.querySelector('#gift-note');

    if (giftWrappingCheckbox) {
      giftWrappingCheckbox.addEventListener("change", function(event) {
        if (event.target.checked) {
          Shopify.Cart.GiftWrap.set();  // Add gift wrap when checkbox is checked
        } else {
          Shopify.Cart.GiftWrap.remove();  // Remove gift wrap when checkbox is unchecked
        }
      });
    }

    // Handle changes to the gift message
    if (giftNoteTextarea) {
      giftNoteTextarea.addEventListener("change", function(evt) {
        var note = evt.target.value;
        var headers = new Headers({ 'Content-Type': 'application/json' });

        var request = {
          method: 'POST',
          headers: headers,
          body: JSON.stringify({ attributes: { 'gift-note': note } })
        };

        fetch('/cart/update.js', request);
      });
    }
  });
</script>
{% else %}

<p style="clear: left; margin: 30px 0" class="rte">
  You attempted to add a gift-wrapping script to your shopping cart, but it
  won't work because you don't have a link list with handle
  <code>gift-wrapping</code> which, in turn, contains a link to your
  gift-wrapping product. Please review the steps outlined
  <a
    href="https://help.shopify.com/manual/online-store/themes/os/customize/add-gift-wrap-option"
    target="_blank"
    rel="noopener noreferrer nofollow"
    >here</a
  >.
</p>

{% endif %}
